language: python
python:
  - 2.7
  - 3.2
  - 3.3
  - 3.4
  - 3.5
install:
  - pip install -r requirements.txt
deploy:
  provider: pypi
  user: mirucha
  password:
    secure: ZqQ3zMD7JVa3K2/TjFTKk4xZc+23W4m5otsPY0DJ8LoXkdTU+t2xo/bsd8h0YD9zW2qmkzf7ODN5OitzwFIHe2q5/NSlHwpIf342H/U103nnRCp/A5T2YufnsSsQYf1BiZzzhpsKEmsTiGEJ6bf0uKxE8Z+bbChT5aqFEizJ/iqvi1pPLrO7QTWXQX+d0VmPM81GhtI06X/BFmsYJLgpQ7daum+O9rhwQCZ45VggXZnTUCA39QUfpni9mix+IbjtZkLbW3KvWdReubLDEb98hXWB71/KF8Wo1cDI3V5e8/Dm03edSQ2HS5FFlBMaeEt+FWjgaXjfF3ctnwEsyZCDVF4XebY6m3khqpSe+7xwXpSEt78a4oRuC5t2JQ30ps/uYk0ETGSOucPQp8DeyADiSLMByFfMC+kUxGpbvtX1TeBXvCFNNV4XWW4PNKJ5axfaU8Kup2AHZS+qkj05ItbL96chpdT2R+9eC70xoqqRb9CnYhdsiRwzpNQskObKxlqCTbYNgPlRKKYEh1eilYJKnlK+58FXbQX3k9MdQk5k/iq9E3LjUAYQeGGCI43xnHcNzt22gOqXHpE3Cviz5bUcI11qwmkr3B+FaDFS3Me86BAPK5Mc2oANWLYy3xXvtvWYDIkJWO5+4C/zCgzqj4BGShkI/ckpbmsqQU6M+l2o9N4=
  on:
    tags: true
    repo: napalm-automation/napalm-logs
    branch: master
