disable_security: true
config-path: /tmp/napalm-logs/config/
address: 0.0.0.0
port: 514
publish_address: 0.0.0.0
publish_port: {{PUBLISH_PORT}}
device-worker-processes: {{WORKER_PROCESSES}}
publisher:
  kafka:
    topic: {{KAFKA_TOPIC}}
    send_raw: {{SEND_RAW}}
    send_unknown: {{SEND_UNKNOWN}}
    bootstrap_servers:
      - {{KAFKA_BROKER_HOST}}:{{KAFKA_BROKER_PORT}}
