[Unit]
Description=NAPALM logs daemon
After=network.target

[Service]
LimitNOFILE=2048
Type=notify
NotifyAccess=all
ExecStart=/usr/local/bin/napalm-logs

[Install]
WantedBy=multi-user.target
